#portfolio {
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    background-color: beige;
    padding-top: 20px;
    margin-bottom: -30px;
    padding-left: 30px;
    text-decoration: underline;
}

#portfolioProjectsContainer {
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.project {
    margin: 30px;
    margin-bottom: 0px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.projectImage {
    width: 450px;
    height: 230px;
}

.buttons {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.linkButton {
    padding: 5px;
    border: none;
    outline: none;
    background-color: black;
    color: orange;
    cursor: pointer;
    border-radius: 5px;
    font-size: 12px;
}